{% extends "base.html" %}

{% block conteudo %}



<div class="container ">
<div class="row corpotx bg-light">

    <div class="corpotxt">
        <h2>Fale Conosco</h2>
        <p>Estamos sempre prontos para ouvir o que você tem a dizer! Se você tem perguntas, comentários, sugestões ou precisa de mais informações sobre nossos produtos e serviços, não hesite em entrar em contato conosco.</p>
    
        <h3>Como entrar em contato?</h3>
    
        <ul>
            <li><strong>Por E-mail:</strong> Envie-nos suas dúvidas ou comentários para <a href="mailto:contato@nossaempresa.com">contato@nossaempresa.com</a>. Nos esforçamos para responder a todos os e-mails dentro de 24 horas durante os dias úteis.</li>
            <li><strong>Por Telefone:</strong> Prefere falar diretamente conosco? Ligue para (XX) 1234-5678. Nossa equipe está disponível para atendê-lo de segunda a sexta, das 9h às 18h.</li>
            <li><strong>Redes Sociais:</strong> Siga-nos em nossas redes sociais e fique por dentro de novidades, promoções e dicas. Estamos no Facebook, Instagram, Twitter e LinkedIn como @nossaempresa. Você também pode nos enviar mensagens diretas por essas plataformas.</li>
            <li><strong>Formulário de Contato:</strong> Para sua conveniência, utilize o formulário abaixo. Preencha os campos solicitados e clique em enviar. Nossa equipe receberá sua mensagem instantaneamente e entrará em contato o mais breve possível.</li>
        </ul>
    
        <h3>Endereço Físico:</h3>
        <p>Caso prefira, você também é muito bem-vindo para nos visitar pessoalmente em nosso endereço:</p>
        <p>Rua Exemplo, 123 - Bairro Exemplar<br>
        Cidade Exemplo, Estado Exemplo, 12345-678</p>
    
        <p>Seja para esclarecer dúvidas, oferecer feedback ou conhecer mais sobre o que podemos fazer por você, sua mensagem é muito importante para nós. Vamos adorar ouvir de você!</p>
        
</div>

</div>
</div>


{% endblock conteudo %}