{% extends "base.html" %}

{% block conteudo %}



<!-- <div class="container-fluid mt-5">
   <div class="row justify-content-center">
       <div class="col-md-6">



      <div class="card h-100" >
         {% load static %}
            <img class="w-100 object-fit-contain"  src="{% static produto.imagem  %}" >
         <div class="card-body">
           <h5 class="card-title">{{produto.nome}}</h5>
           <p class="card-text">{{produto.descricao}}</p>
         </div>
         <ul class="list-group list-group-flush">
           <li class="list-group-item"> <p><strong>Valor: {{produto.valor}}</strong></p></li>
           <li class="list-group-item">Categoria: {{produto.categoria}}</li>
           <li class="list-group-item">Estado: {{produto.estado_produto}}</li>
         </ul>
      
      </div></div></div> -->

<div class="container-fluid">

      <div class="row g-0 bg-body-secondary position-relative">
        <div class="col-md-6 mb-md-0 p-md-4">
          {% load static %}
          <img class="w-100 object-fit-contain"  src="{% static jogos.imagem  %}" >
        </div>
        <div class="col-md-6 p-4 ps-md-0">
          <div class="card h-100" >
            <div class="card-body">
              <h5 class="card-title">{{jogos.nome}}</h5>
              <p class="card-text">{{jogos.descricao}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"> <p><strong>Valor: {{jogos.valor}}</strong></p></li>
              <li class="list-group-item">Categoria: {{jogos.categoria}}</li>
            </ul>
         
         </div>
        </div>
      </div>

    </div>

  

{% endblock conteudo %}