{% extends "base.html" %}

{% block conteudo %}

<div class="container ">
    <div class="row corpotx bg-light">
    
        <div class="corpotxt">
            <h4>Bem-vindo ao Mercado Free: O Seu Destino Virtual para Compras Convenientes</h4>

<p>Em um mundo cada vez mais conectado, onde a praticidade e a eficiência são essenciais, apresentamos o Mercado Free - um projeto inovador desenvolvido como parte de um curso de Django. Criado com o objetivo de simular um ambiente real de comércio eletrônico, este projeto oferece uma experiência de compra virtual intuitiva e completa.</p>

<h5>Explorando o Mercado Free: Uma Experiência de Compra Como Nenhuma Outra</h5>

<p>Ao navegar pelo Mercado Free, você será imerso em um ambiente virtual cuidadosamente projetado, onde cada clique o levará a uma jornada de descobertas e conveniência. Desde produtos frescos até eletrônicos de última geração, nossa ampla gama de categorias garantirá que você encontre exatamente o que procura, tudo com apenas alguns cliques.</p>

<h5>Recursos e Funcionalidades Inovadoras: Mais do que Apenas uma Simples Loja Virtual</h5>

<ul>
    <li><strong>Sistema de Autenticação Seguro:</strong> Registre-se e faça login de forma segura para acessar todas as funcionalidades do Mercado Free.</li>
    <li><strong>Navegação Intuitiva e Fácil de Usar:</strong> Explore nossas categorias e produtos com facilidade, graças à nossa interface intuitiva e amigável.</li>
    <li><strong>Carrinho de Compras Integrado:</strong> Adicione produtos ao seu carrinho de compras e gerencie suas compras com facilidade antes de fazer o checkout.</li>
    <li><strong>Pagamento Seguro e Conveniente:</strong> Escolha entre uma variedade de opções de pagamento seguro para concluir suas compras com tranquilidade.</li>
    <li><strong>Gerenciamento de Pedidos:</strong> Acompanhe o status de suas compras e visualize seu histórico de pedidos a qualquer momento.</li>
</ul>

<h5>Por que Escolher o Mercado Free?</h5>

<p>Ao optar por fazer suas compras no Mercado Free, você está escolhendo mais do que apenas uma loja virtual. Você está optando por conveniência, segurança e uma experiência de compra sem complicações. Nosso compromisso é fornecer a você produtos de qualidade, atendimento excepcional ao cliente e uma plataforma de compras que atenda às suas necessidades.</p>

<h5>Explore, Descubra, Compre: Junte-se à Jornada do Mercado Free</h5>

<p>Convidamos você a explorar o Mercado Free, descobrir nossos produtos incríveis e iniciar sua jornada de compras online hoje mesmo. Este projeto de mercado Django é o resultado de dedicação, aprendizado e paixão pelo desenvolvimento web, e estamos animados para compartilhá-lo com você. Bem-vindo ao Mercado Free - onde a conveniência encontra a inovação.</p>

    </div>
    
    </div>
    </div>
{% endblock conteudo %}